@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif; */

/* navbar */
/* .navbar{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 26px;
  box-shadow: 0px 4px 6px -6px gray;
}
.nav-link{
  font-weight: 300 !important;
} */